/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */



/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}


.countdown {
	line-height: 1.2em;
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
}

/* Example 1 */

.example--1 .countdown {
	background: #f7f7f7;
	line-height: 1.4;
	padding: 10px 0;
}

.example--1 .ce-days,
.example--1 .ce-hours,
.example--1 .ce-minutes,
.example--1 .ce-seconds,
.example--1 .ce-dseconds,
.example--1 .ce-mseconds {
	font-size: 1.5em;
}

.example--1 .ce-days-label,
.example--1 .ce-hours-label,
.example--1 .ce-minutes-label,
.example--1 .ce-seconds-label,
.example--1 .ce-dseconds-label,
.example--1 .ce-mseconds-label {
	display: block;
	text-transform: uppercase;
}

.example--1 .ce-dseconds {
	display: inline-block;
	width: 150px;
}

.example--1 .ce-mseconds {
	display: inline-block;
	width: 150px;
}

.example--1 .col {
	display: block;
	padding-bottom: 20px;
	margin: 0 20px;
}

@media all and (min-width: 540px) {
	.example--1 .ce-days,
	.example--1 .ce-hours,
	.example--1 .ce-minutes,
	.example--1 .ce-seconds,
	.example--1 .ce-dseconds,
	.example--1 .ce-mseconds {
		font-size: 4.5em;
	}

	.example--1 .col {
		display: inline-block;
	}
}

/* Example 2 */

.example--2 {
	background: #ffc728;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
}

.example--2 .countdown {
	display: inline-block;
}

.example--2 .bar {
	clear: both;
	background: #a66600;
	float: left;
	margin: 7px 5px 0 0;
	width: 120px;
}

.example--2 .fill {
	background: #fff;
	height: 3px;
	width: 0%;
}

.example--2 .text {
	clear: both;
	padding-top: 30px;
	text-align: left;
}

.example--2 strong {
	font-size: 32px;
	font-style: italic;
	font-weight: 600;
	line-height: 1.1em;
}

.example--2 p {
	font-size: 22px;
	font-style: italic;
	line-height: 1.2em;
	margin: 10px 0;
}

.example--2 .ce-days,
.example--2 .ce-hours,
.example--2 .ce-minutes,
.example--2 .ce-seconds {
	font-weight: 600 !important;
	float: left;
	width: 30px;
	text-align: center;
}

.example--2 .ce-days-label,
.example--2 .ce-hours-label,
.example--2 .ce-minutes-label,
.example--2 .ce-seconds-label {
	color: #a76500;
	font-weight: 400;
	float: left;
}

@media all and (min-width: 900px) {
	.example--2 .countdown {
		display: block;
	}

	.example--2 .info {
		float: left;
	}

	.example--2 .text {
		padding-top: 10px;
		clear: none;
		float: left;
		margin: -20px 0 0 50px;
	}

	.example--2 .bar {
		width: 250px;
	}

	.example--2 strong {
		font-size: 40px;
	}

	.example--2 p {
		font-size: 30px;
	}
}

/* Example 3 */

.example--3 {
	background: #000;
	color: #fff;
}

.example--3 .countdown {
	background: #000;
	color: #fff;
	font-size: 50px;
	font-weight: 100;
	text-align: center;
	min-height: 0;
}
	
.example--3 .number {
	display: block;
	height: 50px;
	line-height: 50px;
	margin: 0 20%;
	padding: 5% 0;
}

.example--3 .number + .number {
	border-top: 1px solid #ffc728;
}

@media all and (min-width: 400px) {
	.example--3 .countdown {
		font-size: 60px;
	}

	.example--3 .number {
		display: inline-block;
		height: 110px;
		line-height: 110px;
		margin: 0;
		padding: 0 5%;
	}

	.example--3 .number + .number {
		border-top: 0;
		border-left: 1px solid #ffc728;
	}
}

@media all and (min-width: 690px) {
	.example--3 .countdown {
		font-size: 120px;
	}
}

/* Example 4 */

.example--4 {
	background: #ec667a;
	color: #fff;
	min-height: 90px;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: lowercase;
	font-size: 30px;
	font-weight: 300;
}

.example--4 span {
	font-weight: 900;
}

@media all and (min-width: 730px) {
	.example--4 {
		font-size: 60px;
	}
}

/* Example 5 */

.example--5 {
	background-color: #000;
	color: #fff;
	font-family: 'Permanent Marker', cursive;
	font-size: 70px;
}

.example--5 .countdown {
	background: url(../img/bg_example-5.jpg);
	background-size: cover;
}

@media all and (min-width: 540px) {
	.example--5 {
		font-size: 140px;
	}
}

/* Example 6 */

.example--6 {
	background: #31facd;
	color: #00bfa0;
	font-size: 0.8em;
}

.example--6 .col {
	display: inline-block;
	margin: 10% 2% 0;
	width: 20%;
	padding-bottom: 8%;
}

.example--6 .ce-hours,
.example--6 .ce-minutes,
.example--6 .ce-seconds {
	color: #fff;
	display: block;
	font-size: 1.5em;
	height: 1.8em;
	line-height: 1.8em;
	margin-bottom: 5px;
}

html:not([class*='internet-explorer']) .example--6 .ce-hours,
html:not([class*='internet-explorer']) .example--6 .ce-minutes,
html:not([class*='internet-explorer']) .example--6 .ce-seconds {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
}

.example--6 .ce-flip-wrap {
	position: relative;
}

html:not([class*='internet-explorer']) .example--6 .ce-flip-wrap {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	transition: 0s;
}

html:not([class*='internet-explorer']) .example--6 .animate .ce-flip-wrap {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	transition: 0.6s;
}

.example--6 .ce-flip-wrap .ce-flip-front,
.example--6 .ce-flip-wrap .ce-flip-back {
	background: #00bfa0;
	height: 1.8em;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

html:not([class*='internet-explorer']) .example--6 .ce-flip-wrap .ce-flip-front,
html:not([class*='internet-explorer']) .example--6 .ce-flip-wrap .ce-flip-back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.example--6 .ce-flip-wrap .ce-flip-front {
	z-index: 2;
}

html:not([class*='internet-explorer']) .example--6 .ce-flip-wrap .ce-flip-back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

@media all and (min-width: 540px) {
	.example--6 {
		font-size: 1.2em;
		padding: 50px 0 45px;
	}

	.example--6 .col {
		margin: 50px 10px 0;
		padding-bottom: 20px;
	}
}

/* Example 7 */

.example--7 {
	background: #292929;
	color: #00deff;
	font-family: 'Exo', sans-serif;
	font-size: 40px;
	line-height: 170px;
	text-align: center;
}

.example--7 .countdown {
	display: inline-block;
	height: 1em;
	line-height: 1em;
	overflow: hidden;
}

.example--7 .number span {
	bottom: -1em;
	display: inline-block;
	position: relative;
	text-align: left;
	-moz-transition: none;
	-webkit-transition: none;
	transition: none;
	width: .7em;
}

.example--7 .number span:first-child {
	text-align: right;
}

.example--7 .number.ce-mseconds {
	width: 130px;
}

.example--7 .number span.animate {
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-moz-transition: -moz-transform .3s;
	-webkit-transition: -webkit-transform .3s;
	transition: transform .3s;
}

.example--7 .number span::before {
	content: attr(data-old);
	position: absolute;
	top: -100%;
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

@media all and (min-width: 600px) {
	.example--7 {
		font-size: 90px;
	}

	.example--7 .number {
		width: 1.2em;
	}
}

/* Example 8 */

.example--8 {
	background: #fde5e1;
	color: #594b48;
	font-family: 'Alice', serif;
	font-size: 1.2em;
	text-transform: uppercase;
}
	
.example--8 .ce-days {
	font-size: 3em;
}

.example--8 strong {
	color: #c28a81;
	display: block;
	font-weight: normal;
}

@media all and (min-width: 540px) {
	.example--8 {
		font-size: 2em;
	}
}

/* Example 9 */

.example--9 {
	background-color: black; 
	color: #fff;
	font-family: 'Open Sans';
	font-weight: 300;
}

.example--9 .countdown {
	max-width: none;
	padding: 35px 25px;
}

.example--9 .circle {
	display: inline-block;
	position: relative;
	margin: -10px;
}

.example--9 canvas {
	height: 134px;
	width: 134px;
}

.example--9 .circle__values {
	height: 70px;
	margin-top: -35px;
	position: absolute;
	top: 50%;
	width: 100%;
}

.example--9 .ce-digit,
.example--9 .ce-label  {
	display: block;
	line-height: 1;
}

.example--9 .ce-digit  {
	display: block;
	font-size: 30px;
}

.example--9 .ce-label  {
	color: #929292;
	display: block;
	font-size: 12px;
	margin-top: 15px;
	text-transform: uppercase;
}

@media all and (min-width: 400px) {
	.example--9 .circle {
		margin: -20px;
	}
	.example--9 canvas {
		width: 164px;
		height: 164px;
	}
	.example--9 .ce-digit  {
		font-size: 35px;
	}

	.example--9 .ce-label  {
		font-size: 15px;
	}
}

@media all and (min-width: 900px) {
	.example--9 .circle {
		margin: -25px;
	}
	.example--9 canvas {
		width: 204px;
		height: 204px;
	}
	.example--9 .ce-digit  {
		font-size: 40px;
	}

	.example--9 .ce-label  {
		font-size: 15px;
	}
}

/* Example 10 */

/* Reset */
.example--10 .countdown * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.example--10 .countdown .unit-wrap {
    float: left;
    margin-left: 1.25em;
}

.example--10 .countdown .unit-wrap:first-child {
    margin-left: 0;
}

.example--10 .countdown .unit-wrap > div:before,
.example--10 .countdown .unit-wrap > div:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.example--10 .countdown .unit-wrap > div:after {
    clear: both;
}

.example--10 .countdown .unit-wrap > span {
    color: #929292;
    display: block;
    font-size: 1.5em;
    margin: .66666666666667em 0 0;
    text-transform: uppercase;
}

.example--10 .countdown div.flip-wrap {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.example--10 .countdown div.flip-wrap:hover {
    color: #fff;
}

.example--10 .countdown div.digits {
    list-style: none;
}

.example--10 .countdown.clearfix:before,
.example--10 .countdown.clearfix:after {
    content: " ";
    display: table;
}

.example--10 .countdown.clearfix:after {
    clear: both;
}

.example--10 .countdown.clearfix {
    *zoom: 1;
}

/* Main */


.example--10 {
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.example--10 .countdown {
    display: inline-block;
    font-family: 'Unica One', 'cursive';
    margin: 1em;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
}

.example--10 .countdown:before,
.example--10 .countdown:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.example--10 .countdown:after {
    clear: both;
}

/* Skeleton */
.example--10 .countdown div.digits {
    background: #000;
    border-radius: 5px;
    float: left;
    font-size: 120px;
    height: 150px;
    line-height: 150px;
    margin: 0 4px;
    position: relative;
    width: 70px;
}

.example--10 .countdown div.digits div.digits-inner {
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.example--10 .countdown div.digits div.digits-inner:first-child {
    z-index: 2;
}

.example--10 .countdown div.digits div.digits-inner div.flip-wrap {
    cursor: default !important;
    display: block;
    height: 100%;
    margin: 0 !important;
    overflow: visible !important;
    -webkit-perspective: 300px;
    -moz-perspective: 300px;
    perspective: 300px;
}

.example--10 .countdown div.digits div.digits-inner div.flip-wrap div {
    font-size: 120px;
    height: 50%;
    left: 0;
    position: absolute;
    outline: 1px solid transparent;
    overflow: hidden;
    width: 100%;
    z-index: 1;
}

.example--10 .countdown div.digits div.digits-inner div.flip-wrap div .shadow {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.example--10 .countdown div.digits div.digits-inner div.flip-wrap div.up {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    top: 0;
}

.example--10 .countdown div.digits div.digits-inner div.flip-wrap div.up:after {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 73px;
    width: 100%;
    z-index: 5;
}

.example--10 .countdown div.digits div.digits-inner div.flip-wrap div.down {
    bottom: 0;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

.example--10 .countdown div.digits div.digits-inner div.flip-wrap div div.inn {
    background-color: #191919;
    border-radius: 5px;
    color: #fff;
    font-size: 120px;
    height: 200%;
    left: 0;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px #000;
    width: 100%;
    z-index: 1;
}

.example--10 .countdown div.digits div.digits-inner div.flip-wrap div.up div.inn {
    background: #373737;
    top: 0;
}

.example--10 .countdown div.digits div.digits-inner div.flip-wrap div.down div.inn {
    bottom: 0;
}

/* PLAY */
.example--10 .countdown div.play div.digits-inner.before {
    z-index: 3;
}

.example--10 .countdown div.play div.digits-inner.active {
    -webkit-animation: asd 0.5s 0.5s linear both;
    -moz-animation: asd 0.5s 0.5s linear both;
    animation: asd 0.5s 0.5s linear both;
    z-index: 5;
}

@-webkit-keyframes asd {
    0% { z-index: 2; }
    20% { z-index: 4; }
    100% { z-index: 4; }
}

@-moz-keyframes asd {
    0% { z-index: 2; }
    20% { z-index: 4; }
    100% { z-index: 4; }
}

@-o-keyframes asd {
    0% { z-index: 2; }
    20% { z-index: 4; }
    100% { z-index: 4; }
}

@keyframes asd {
    0% { z-index: 2; }
    20% { z-index: 4; }
    100% { z-index: 4; }
}

.example--10 .countdown div.play div.digits-inner.active .down {
    -webkit-animation: turn 0.5s 0.5s linear both;
    -moz-animation: turn 0.5s 0.5s linear both;
    animation: turn 0.5s 0.5s linear both;
    z-index: 2;
}

@-webkit-keyframes turn {
    0% { -webkit-transform: rotateX(90deg); }
    100% { -webkit-transform: rotateX(0deg); }
}

@-moz-keyframes turn {
    0% { -moz-transform: rotateX(90deg); }
    100% { -moz-transform: rotateX(0deg); }
}

@-o-keyframes turn {
    0% { -o-transform: rotateX(90deg); }
    100% { -o-transform: rotateX(0deg); }
}

@keyframes turn {
    0% { transform: rotateX(90deg); }
    100% { transform: rotateX(0deg); }
}

.example--10 .countdown div.play div.digits-inner.before .up {
    -webkit-animation: turn2 0.5s linear both;
    -moz-animation: turn2 0.5s linear both;
    animation: turn2 0.5s linear both;
    z-index: 2;
}

@-webkit-keyframes turn2 {
    0% { -webkit-transform: rotateX(0deg); }
    100% { -webkit-transform: rotateX(-90deg); }
}

@-moz-keyframes turn2 {
    0% { -moz-transform: rotateX(0deg); }
    100% { -moz-transform: rotateX(-90deg); }
}

@-o-keyframes turn2 {
    0% { -o-transform: rotateX(0deg); }
    100% { -o-transform: rotateX(-90deg); }
}

@keyframes turn2 {
    0% { transform: rotateX(0deg); }
    100% { transform: rotateX(-90deg); }
}

.example--10 .countdown div div.digits-inner.active {
    z-index: 3;
}

/* SHADOW */
.example--10 .countdown div.play div.digits-inner.before .up .shadow {
    -webkit-animation: show 0.5s linear both;
    -moz-animation: show 0.5s linear both;
    animation: show 0.5s linear both;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
    background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
    background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
}

.example--10 .countdown div.play div.digits-inner.active .up .shadow {
    -webkit-animation: hide 0.5s 0.3s linear both;
    -moz-animation: hide 0.5s 0.3s linear both;
    animation: hide 0.5s 0.3s linear both;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
    background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
    background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
}

/*DOWN*/
.example--10 .countdown div.play div.digits-inner.before .down .shadow {
    -webkit-animation: show 0.5s linear both;
    -moz-animation: show 0.5s linear both;
    animation: show 0.5s linear both;
    background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
    background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
}

.example--10 .countdown div.play div.digits-inner.active .down .shadow {
    -webkit-animation: hide 0.5s 0.3s linear both;
    -moz-animation: hide 0.5s 0.3s linear both;
    animation: hide 0.5s 0.2s linear both;
    background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
    background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
}

@-webkit-keyframes show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes hide {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes hide {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-o-keyframes hide {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes hide {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* 900 PIXEL */

@media all and (max-width: 900px) {
    .example--10 .countdown .unit-wrap {
        margin-left: 0.75em;
    }

    .example--10 .countdown .unit-wrap > span {
        font-size: 1em;
        margin: .66666666666667em 0 0;
    }

    .example--10 .countdown {
        margin: .75em;
    }

    .example--10 .countdown div.digits {
        font-size: 70px;
        height: 100px;
        line-height: 100px;
        margin: 0 2px;
        width: 50px;
    }

    .example--10 .countdown div.digits div.digits-inner div.flip-wrap div {
        font-size: 70px;
    }

    .example--10 .countdown div.digits div.digits-inner div.flip-wrap div.up:after {
        height: 2px;
        top: 48px;
    }

    .example--10 .countdown div.digits div.digits-inner div.flip-wrap div div.inn {
        font-size: 70px;
        left: 0;
    }
}

/* 650 PIXEL */

@media all and (max-width: 650px) {
    .example--10 .countdown .unit-wrap {
        margin-left: 0.5em;
    }

    .example--10 .countdown .unit-wrap > span {
        font-size: 1em;
        margin: .5em 0 0;
    }

    .example--10 .countdown {
        margin: .75em;
    }

    .example--10 .countdown div.digits {
        font-size: 40px;
        height: 70px;
        line-height: 70px;
        margin: 0 2px;
        width: 40px;
    }

    .example--10 .countdown div.digits div.digits-inner div.flip-wrap div {
        font-size: 40px;
    }

    .example--10 .countdown div.digits div.digits-inner div.flip-wrap div.up:after {
        height: 2px;
        top: 33px;
    }

    .example--10 .countdown div.digits div.digits-inner div.flip-wrap div div.inn {
        font-size: 40px;
        left: 0;
    }
}

/* 500 PIXEL */

@media all and (max-width: 500px) {
    .example--10 .countdown .unit-wrap {
        margin-left: 0.3em;
    }

    .example--10 .countdown .unit-wrap > span {
        font-size: .75em;
        margin: .5em 0 0;
    }

    .example--10 .countdown {
        margin: .75em;
    }

    .example--10 .countdown div.digits {
        font-size: 30px;
        height: 50px;
        line-height: 50px;
        margin: 0 1px;
        width: 26px;
    }

    .example--10 .countdown div.digits div.digits-inner div.flip-wrap div {
        font-size: 30px;
    }

    .example--10 .countdown div.digits div.digits-inner div.flip-wrap div.up:after {
        height: 2px;
        top: 24px;
    }

    .example--10 .countdown div.digits div.digits-inner div.flip-wrap div div.inn {
        font-size: 30px;
        left: 0;
    }
}